body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: linear-gradient(276deg, rgb(95, 207, 128) 71.8%, rgb(78, 158, 112) 71.8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
h1 {
    color: #890000;
    font-size: 3.5rem;
    margin: 0;
    font-family: fantasy;
}

img {
    width: 170px;
}
  
p {
    color: rgb(6, 3, 46);
    font-size: 1.2rem;
    margin: 5px;
}
 
ul {
    list-style: none;
    padding: 0;
}
  
li {
    color: rgb(6, 3, 46);
    font-size: 1.2rem;
    list-style-type: square;
    margin-left: 0px;
}
  
Link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
}
  
button {
    background-color: #810d0d;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.pokemon-link {
    color: rgb(6, 3, 46);
}

.pokemon-list {
    list-style-type: none;
}